#page-home
  background-color: white

.to-scew
  background-color: rgb(29, 38, 67)
  position: absolute
  padding-top: 75px
  margin-top: 150px
  left: 0px
  right: 0px
  height: 290px
  color: white
  transform: skewY(20deg)
