#page-home

  h2
    text-align: center


  .background
    z-index: -1
    top: 250px
    left: 0
    right: 0
    width: 100%
    max-height: 500px
    position: absolute

  .text-wrapper
    display: block
    text-align: center
    margin-left: auto
    margin-right: auto


  .text-container
    display: inline-block
    border-style: solid
    border-color: rgb(105, 105, 105)
    border-width: 10px
    text-align: center
    margin-top: 50px
    margin-bottom: 50px
    width: 90%
    padding: 20px
    background-color: rgb(245, 235, 235)

  .how-to
    display: inline-block
    color: black
    //border: 2px solid #e1413d
    text-align: center
    font-weight: 600

  .steps
    color: black
    text-align: left
    font-size: 20px
    font-weight: 600
